body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 2rem;
}

h2 {
  margin-top: 3px;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

label {
  margin-bottom: 5px;
}

input[type="date"],
input[type="number"],
select {
  margin-bottom: 15px;
  padding: 5px;
}

button {
  padding: 8px 12px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#secaoFiltro {
  margin-bottom: 10px;
}

#listaDespesas {
  list-style-type: none;
  padding: 0;
}

li {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
}

li strong {
  font-weight: bold;
}

li button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  cursor: pointer;
}

li button:hover {
  background-color: #d90000;
}

#secaoResumo {
  margin-top: 10px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

#tabelaDespesas {
  width: 100%;
  border-collapse: collapse;
}

#tabelaDespesas th,
#tabelaDespesas td {
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

#tabelaDespesas th {
  background-color: #f2f2f2;
}

#tabelaDespesas td {
  text-align: center;
}

#totalDespesas {
  margin-bottom: 5px;
  font-weight: bold;
  text-align: left;
}

@media (max-width: 600px) {
  #tabelaDespesas {
    font-size: 14px;
  }
}
